
.home-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 2rem;
  width: 100%;
  justify-items: start;   
  margin: 0 auto;
  font-family: system-ui, -apple-system, sans-serif;
}

.title {
  font-size: 3.2rem;
  color: #bbe0e7;
  margin-bottom: 1.5rem;
  margin-right: 28%;
  font-weight: 700;
  justify-self: center;
  text-align: center; 
  border-bottom: 2px solid #9debfd;
}

.app-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 50%;
}

.app-btn {
  background-color: #f0c346;
  color: #ffffff;
  border: none;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  margin: auto 0;
  width: 125px;
  height: 55px;
  
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.app-btn:hover {
  background-color: #907c0a;
}

.app-btn:active {
  transform: scale(0.98);
}

.story-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px); /* Modern blur effect */
}

/* story Content Box */
.story-content {
  background-color: #eeede9;
  padding: 2.5rem;
  border-radius: 12px;
  position: relative;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: modalSlideUp 0.3s ease-out;
}

/* form Close Button */
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #ed0404;
  cursor: pointer;
  padding: 0.25rem;
  line-height: 1;
  transition: color 0.2s ease;
}
.post-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px); 
}
.post-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  height: 30%;
  max-width: 700px;     
  margin: 0 25px; 
  align-items: stretch; 
}
.post-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #ed0404;
  cursor: pointer;
  padding: 0.25rem;
  line-height: 1;
  transition: color 0.2s ease;
}

.home-content-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 700px;     
  margin: 0 25px; 
  align-items: stretch; 
}

.close-btn:hover {
  color: #1a1a1a;
}

/* animation */
@keyframes modalSlideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}