.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0b0c0c;
  box-shadow: 0 2px 8px rgba(8, 8, 8, 0.05);
  border-radius: 8px 8px 2px 2px;
  font-family: 'Arial', sans-serif;
  max-width: 97%;
}

.navbar-logo {
  display: block;
  width: 300px;
  height: 125px;
  background-image: url('../assets/social-hive-logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .navbar-logo {
    animation: none;
  }
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #4a99f3;
}
.navbar-user-greeting {
  color:rgba(238, 196, 7, 0.716);
}

.btn-signup {
  background-color: #12adf0;
  color: #f8f5f5;
  padding: 8px 18px;
  border-radius: 6px;
  
}
.btn-signup :hover {
  color: rgb(85, 178, 249)
}

.btn-login {
  background-color: #12adf0;
  color: #f8f5f5;
  padding: 8px 18px;
  border-radius: 6px;
}
.btn-login:hover {
  color: rgb(85, 178, 249);
}

.btn-logout-nav {
  background-color: #0889c0;
  color: #f8f5f5;
  font-weight: 700;
  padding: 8px 18px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(244, 236, 4, 0.738);
}
.btn-logout-nav:hover {
  color: rgb(85, 178, 249);
  box-shadow: 0 4px 8px rgba(244, 236, 4, 0.738);
}

/* 5. Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar-logo {
    width: 160px;
    height: 65px;
  }
}